game_path.txt
game_name.txt
full_executable_path.txt
executable.txt
appid.txt
crack.txt
steam.txt
NDP462.exe
manifest.yaml
hardcoded.txt
zerokey.exe
zerokey.7z
zerokeyInstaller.exe
*.pyc
.vs/
logs/
info/
bin/
releases/
__pycache__/
repo/
steam_settings/
